checkers:
    - SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff

parameters:
    skip_codes:
        - SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.UselessDocComment
