includes:
    - vendor/symplify/easy-coding-standard/config/php54-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/psr2-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-risky-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon
    - vendor/symplify/easy-coding-standard/config/common.neon

parameters:
    indentation: tab
    exclude_checkers:
        - Symplify\CodingStandard\Fixer\Commenting\BlockPropertyCommentFixer
        - Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer
        - Symplify\CodingStandard\Sniffs\Commenting\BlockPropertyCommentSniff
        - Symplify\CodingStandard\Sniffs\Commenting\VarConstantCommentSniff
        - Symplify\CodingStandard\Sniffs\ControlStructures\NewClassSniff
        - Symplify\CodingStandard\Sniffs\DependencyInjection\NoClassInstantiationSniff
        - Symplify\CodingStandard\Sniffs\Naming\AbstractClassNameSniff
        - Symplify\CodingStandard\Sniffs\Naming\ExceptionNameSniff
        - Symplify\CodingStandard\Sniffs\Naming\InterfaceNameSniff
        - Symplify\CodingStandard\Sniffs\Naming\TraitNameSniff
        - PhpCsFixer\Fixer\ControlStructure\YodaStyleFixer
        - PhpCsFixer\Fixer\LanguageConstruct\DeclareEqualNormalizeFixer
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer
        - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
    skip_codes:
        - SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff.UselessDocComment

checkers:
    - SlevomatCodingStandard\Sniffs\TypeHints\DeclareStrictTypesSniff
    Symplify\CodingStandard\Sniffs\Classes\EqualInterfaceImplementationSniff:
        interfacesToSkip:
            - Countable
            - IteratorAggregate
            - Serializable
            - Symfony\Component\EventDispatcher\EventSubscriberInterface
            - JMS\Serializer\EventDispatcher\EventSubscriberInterface

